# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: CI Build

env:
  JAVA_VERSION: 21

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  CI-Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK ${{env.JAVA_VERSION}}
        uses: actions/setup-java@v5
        with:
          java-version: ${{env.JAVA_VERSION}}
          distribution: 'zulu'
          cache: maven
      - name: Build with Maven
        run: mvn -B compile --file pom.xml
      - name: Run Unit Tests
        run: mvn -B verify -Pcoverage
  SonarCloud-Analysis:
    needs: CI-Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up JDK ${{env.JAVA_VERSION}}
        uses: actions/setup-java@v5
        with:
          java-version: ${{env.JAVA_VERSION}}
          distribution: 'zulu'
          cache: maven
      - name: Cache SonarCloud packages
        uses: actions/cache@v5
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Analyze with SonarCloud
        run: mvn -B org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
        env:
          # Needed to get some information about the pull request, if any
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # SonarCloud access token should be generated from https://sonarcloud.io/account/security/
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}